<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Hangman Game</display-name>

    <!-- Configuración del servlet -->
    <servlet>
        <servlet-name>HangmanServlet</servlet-name>
        <servlet-class>HangmanServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HangmanServlet</servlet-name>
        <url-pattern>/hangman</url-pattern>
    </servlet-mapping>

    <!-- Configuración de la página de inicio -->
    <welcome-file-list>
        <welcome-file>config.jsp</welcome-file>
    </welcome-file-list>

</web-app>
